<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.phonegap.proyectofinal"
		versionCode="1"
		version   = "1.6.0">
		<name>Proyecto Final</name>
		<description>Proyecto Final de Taller de Aplicaciones Moviles Hibridas  2016-1</description>
		<author href="" email="alberto.gtz93@outlook.com">Alberto Gutierrez</author>
		
		<description>
        Proyecto Final de Taller de Aplicaciones Moviles Hibridas  2016-1  
    </description>
        
    <platform name="android" >
        <preference name="orientation" value="portrait" />
    </platform>
        
    <preference name="fullscreen" value="true" />
    <plugin name="cordova-plugin-geolocation" spec="1.0.1" source="pgb" />
    <plugin name="org.apache.cordova.geolocation" spec="0.3.12" source="pgb" />
    <plugin name="org.apache.cordova.camera" />
    <plugin name="org.apache.cordova.media-capture" />
    <plugin name="org.apache.cordova.device-orientation" />
    <plugin name="org.apache.cordova.dialogs" />
    <plugin name="org.apache.cordova.file" />
    <plugin name="org.apache.cordova.file-transfer" />
    <plugin name="org.apache.cordova.geolocation" />
    <plugin name="org.apache.cordova.inappbrowser" />
    <plugin name="org.apache.cordova.media" />
    <plugin name="org.apache.cordova.network-information" />
    <plugin name="org.apache.cordova.splashscreen" />
		 <icon src="icon.png" />
<access origin="http://maps.googleapis.com" subdomains="true" />
</widget>
